.Bubble {
  border-radius: 25px;
  background: hsl(226, 40%, 51%);
  padding: 20px;

  color: rgb(236, 236, 221);
  margin-top: 20px;
  margin-bottom: 20px;
  overflow-y: auto;
  /* min-width: fit-content;
   */
  flex-direction: row;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  justify-content: start;
}
