.displayScrollableContent {
  background: #d6ed17ff;

  position: relative;
}

.contentIconLeft {
  padding: 10px;
  display: flex;
  /* flex-direction: row; */
}

.contentIconRight {
  flex-direction: row-reverse;
  flex: 1 1;
  padding: 10px;
  display: flex;
  color: rgb(32, 18, 19);
}

.displayToolbar {
  display: block;
  align-items: center;
  font-weight: 500;
  position: sticky;
  padding-bottom: 10px;

  text-align: center;
}
.circle {
  padding-left: 20px;
}

.messageContainer {
  padding: 10px, 10px 70px;
}
