.displayScrollableContent {
  background: #d6ed17ff;

  position: relative;
}

.contentIconLeft {
  flex: 1 1;
  padding: 10px;
  display: flex;
  color: rgb(66, 133, 60);
}

.contentIconRight {
  flex-direction: row-reverse;
  flex: 1 1;
  padding: 10px;
  display: flex;
  color: rgb(32, 18, 19);
}

.displayToolbar {
  display: flex;
  align-items: center;
  font-weight: 500;
  position: sticky;
  top: 0;
  text-align: center;
  margin-left: 150px;
}
.circle {
  padding-left: 20px;
}

.messageContainer {
  padding: 10px, 10px 70px;
}
