.displayScrollableContent {
  background: #fff;
  grid-row-start: 1;
  grid-row-end: span 3;
  position: relative;
}

.contentIconLeft {
  flex: 1 1;
  padding: 10px;
  display: flex;
  color: rgb(8, 78, 206);
}

.contentIconRight {
  flex-direction: row-reverse;
  flex: 1 1;
  padding: 10px;
  display: flex;
  color: rgb(8, 78, 206);
}

.displayToolbar {
  display: flex;
  align-items: center;
  font-weight: 500;
  position: sticky;
  top: 0;
  text-align: center;
  margin-left: 150px;
}
.circle {
  padding-left: 20px;
}

.messageContainer {
  padding: 10px, 10px 70px;
}
