.card {
  width: 18rem;
  top: 42%;
  width: 26%;
  height: 100%;
  margin-left: 36%;
  margin-top: 0%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.993);
  overflow: hidden;
  text-align: center;
}

p {
  color: #444742;
  font-size: 14px;
  padding-top: 20px;
}

.images,
img {
  height: 10%;
  width: 7%;
  margin-top: 100px;
  margin-bottom: 10px;
  text-align: center;
  margin-left: 593px;
}

.form-group {
  border-radius: 25px;
}

.button {
  float: right;
}

.button2 {
  float: left;
  padding-right: 144px;
}

.chat-box {
  text-align: center;
  border-radius: 1%;
  display: inline-block;
}

.text {
  border-radius: 68px;
  background: rgb(88, 88, 175);
  padding: 16px;
  width: 198px;
  height: 69px;
  text-align: center;
}
.contactList {
  background-color: rgb(170, 170, 182);
  margin-right: 74%;
  display: flex;
  font-weight: 400;
  font-weight: bold;
}
