.messageDisplay {
  padding: 10px;
  display: flex;
  align-items: center;
  background: rgb(88, 94, 94);
  border-top: 1px solid #eeeef1;
  position: fixed;
  width: 100%;
  bottom: 0;
  margin-left: 491px;
  overflow-y: scroll;
  flex-wrap: wrap;
  flex-direction: row;
  grid-column: 2 / span 3;
}

.messages {
  overflow-y: scroll;
}
