.App {
  display: grid;
  width: 100%;
  height: 100vh;
  background: #eeeef1;
  grid-template-columns: auto auto;
  grid-template-rows: 60px auto 60px;
  grid-column-gap: 40px;
  grid-row-gap: 1px;
  background-color: rgba(49, 59, 59, 0.993);
}

body {
  background-color: rgb(179, 175, 184);
}
