.App {
  display: grid;
  width: 100%;
  height: 100vh;
  background: #eeeef1;
  grid-template-columns: 350px auto;
  grid-template-rows: 60px auto 60px;
  grid-column-gap: 40px;
  grid-row-gap: 1px;
  grid-column: 1 / span 4;
}

body {
  background-color: rgb(179, 175, 184);
}
