.displayProfile {
  display: flex;
  align-items: center;
  font-weight: 500;
  position: -webkit-sticky;
  position: sticky;
  margin-top: 6px;
  margin-right: 243px;
  background: blanchedalmond;
  width: 100%;
}
